<div class="formGroupContainer boxShadow">
    <div class="innerContainer">

        <div class="login-grid">
            <div></div>
            <form class="login-form box-shadow">
                <div class="form-group">
                    <label class="font" for="exampleInputEmail1">Email</label>
                    <input [(ngModel)]="user.email" name="email" type="text" class="form-control"
                        id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label class="font" for="exampleInputPassword1">Password</label>
                    <input [(ngModel)]="user.password" name="password" type="password" class="form-control"
                        id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="font" class="font" class="form-check-label" for="exampleCheck1">Remember Me?</label>
                </div>
                <button class="font" mat-raised-button color="primary" (click)="login(user)">Login</button>
            </form>
        </div>
    </div>
</div>