.grid-container {
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  padding: 2em;
}

.input {
  width: 100%;
}

.input-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;
  margin: 23px auto;
  width: 79%;
}

.create-toolbar {
  margin: -12px -13px 33px -12px !important;
  width: calc(100% + 30px);
}

.updateBtn{
  display: grid;
}
.nwfont{
  font-family: Girassol, Times;
}