.input {
    width:100%;
  }
  .input-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
    margin: 25px auto;
    width: 79%;
  }
  .create-toolbar {
    margin: -12px -13px 33px -12px !important;
    width: calc(100% + 30px);
    font-family: Girassol, Times;
  }
  .addBtn{
    display: grid;
    font-family: Girassol, Times;
  }
  
