<mat-card class="input-container">
  <mat-toolbar color="primary" class="create-toolbar">
    <mat-toolbar-row>
      <span class="copyright">Create a Inventory</span>
      <div class="button-row">
        <button [routerLink]="['']" mat-raised-button class="pull-right btn-secondary">
          Back to Inventory List
          <mat-icon class="example-icon">arrow_back</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card-content>
    <div class="container">
      <img *ngIf="inventory.image_url" mat-card-image [src]="inventory.image_url" alt="bike">
      <mat-form-field class="input">
        <input [(ngModel)]="inventory.hardwareName" matInput placeholder="Hardware" required>
      </mat-form-field>

      <mat-form-field class="input">
        <input [(ngModel)]="inventory.hardwareInfo" matInput placeholder="Hardware Size, Ram & CPU Capacity" required>
      </mat-form-field>

      <mat-form-field class="input">
        <input [(ngModel)]="inventory.modelPurchased" matInput placeholder="Model Purchased" required>
      </mat-form-field>

      <mat-form-field class="input">
        <input [(ngModel)]="inventory.serialNumber" matInput placeholder="Serial Number" required>
      </mat-form-field>

      <mat-form-field class="input">
        <input [(ngModel)]="inventory.datePurchased" matInput placeholder="Date Purchased (MM-DD-YYYY)" required>
      </mat-form-field>

      <mat-form-field class="input">
        <input [(ngModel)]="inventory.price" matInput placeholder="Price" required>
      </mat-form-field>

      <mat-form-field class="input">
        <input [(ngModel)]="inventory.quantity" matInput placeholder="Quantity" required>
      </mat-form-field>

      <mat-form-field class="input">
        <input [(ngModel)]="inventory.image_url" matInput placeholder="Image URL" required>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions class="addBtn">
    <button mat-raised-button (click)="addInventory(inventory)" class="addBtn btn btn-success">Create Inventory</button>
  </mat-card-actions>
</mat-card>
